*{ margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    scroll-behavior: smooth;
 }
 /* 
   ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
 */
 
 @media (min-width: 650px) and (max-width: 1024px) {
   
   /* CSS */
   .popup{
    width: 650px;
   }
   .popup-links{
    flex-direction: column;
    align-items: stretch;
   }
   .popup-links>a{
    margin-right: 0px;
    margin-bottom: 10px;
   }
   .forgot-password{
    margin-bottom: 15px;
   }
   .popup>span{
    left: 44%;
   }
   .top-navbar{
    flex-direction: column;
   }
   .navbar-logo
   {
    margin: 0 auto;
   }
   .navbar-rs{
    display: flex;

   }
   .navbar-rs>span{
    visibility: hidden;
    height: 0;
    width: 0;
   }
   .dropdown-content{
    transform: rotate(10deg);
   }
   .banner-main{
    padding:125px 20px 180px ;
   }
   .banner-content-1{
    padding-right:20px ;
   }
   .banner-content-3{
    align-items: center;
   }
   .banner-table-main{
    flex-direction: column;
    width: 100%;
   }
   .banner-table-main-left,.banner-table-main-right{
    width: 100%;
   }
   .banner-content-2>h2,.banner-content-3>h2{
    height: 100%;
    text-align: center;
    padding-left: 0px;
   }
   .banner-content-3>h1,.banner-content-2>h1{
    text-align: center;
   }
   .banner-content-1>h2:before{
    width: 280px;
   }
   .banner-content-3>h1:before{
    top: 26%;
    width: 280px;
   }
   .banner-content-3>h1:after{
    top: 30%;
   }
   .banner-table-links{
    flex-direction: column;
   }
   .banner-table-links>a{
    margin-bottom: 10px;
   }

.browse-cars-main{
    width: 100%;
    align-items: center;
}
.browse-cars-content>a{
    color: #fa6a2f;
}
.browse-cars-content>a>i,.browse-cars-content>a>span{
    color: #3d414e;
}
.nav-car-deals{
    width: 90%;
}
.car-deals-content,.car-deals-content-1{
    grid-template-columns: auto auto;
}
.car-deals-number{
    margin-right: 0px;
}
.car-deals-number:nth-child(2n+1){
    margin-right: 24px;
}
.wcu-main{
    flex-direction: column;
    align-items: center;
}
.wcu-main-left{
    width: 70%;
    align-items: center;
}
.wcu-main-left>a{
    margin-bottom: 20px;
}
.wcu-main-right{
    width: 100%;
}
.buy-and-sell-main{
  padding: 0px 20px;
}
.sell-car-text>p,.buy-car-text>p{
    font-size: 24px;
}
.new-cars-number{
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.new-cars-details{
    align-items: center;
}
.new-cars-details-form{
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
}
.latest-blog-main{
    flex-direction: column;
    width: 90%;
}
.latest-blog-number{
    align-items: center;
    margin-right: 0px;
 }
 .latest-blog-img-heading{
    width: 80%;
 }
 .latest-blog-title{
    width: 80%;
    margin-bottom: 20px;
 }
 .newsletter-main{
    flex-direction: column;
 }
 .newsletter-text{
    justify-content: center;
    margin-bottom: 10px;
 }
 .newsletter-form{
    width: 90%;
 }
 .footer-main{
    grid-template-columns: auto;
    width: 90%;
    margin: 0 auto;
 }
 .footer-financing-calculator{
    margin-bottom: 20px;
 }
}



 @media (min-width: 320px) and (max-width: 649px) {
    
    .popup{
    width: 320px;
    flex-direction: column;
   }
   .login-popup{

    margin-bottom: 10px;
   }
   .popup-links{
    flex-direction: column;
    align-items: stretch;
   }
   .popup-links>a{
    margin-right: 0px;
    margin-bottom: 10px;
   }
   .forgot-password{
    margin-bottom: 15px;
   }
   .popup>span{
    left: 35%;
    top: 43%;
   }
    .top-navbar{
    flex-direction: column;
   }
   .navbar-logo
   {
    margin: 0 auto;
    width: 100px;
   }
   .navbar-links>a{
    font-size: 12px;
   }
   .sell-my-car{
    padding: 5px 15px;
   }
   .dropdown-content{
    transform: rotate(10deg);
   }
   .navbar-main{
    flex-direction: column;
    display: none;
   }
   .navbar-rs{
    width: 100%;   
    display: block;
   }
   .navbar-rs>span{
    padding-left: 20px;
    padding-right: 50px;
    margin: 10px 0px;
    width: 100%;
    text-align: left;
    height: 20px;
    visibility: visible;
   }
   .navbar-rs>span>i{
    color: #fa6a2f;
   }
   .dropdown{
    width: 100%;
    text-align: center;
   }
   .dropdown-content{
    transform: none;
    width: 100%;
    height: 100%;
    visibility: visible;
    position: static;
    display: none;
   }
   .banner-main{
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 100px;
   }
   .banner-content-1,.banner-content-2{
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 50px;
   }
   .banner-content-3{
    width: 100%;
    margin: 0 auto 10px;
    padding-top: 50px;
    align-items: center;
   }
   .banner-table{
    width: 90%;
   }
   .banner-table-main{
    flex-direction: column;
    width: 100%;
   }
   .banner-table-main-left,.banner-table-main-right{
    width: 100%;
   }
   .banner-content-1>h1{
    font-size: 18px;
   }
   .banner-content-1>h2{
    font-size: 22px;
   }
   .banner-content-1>p{
    font-size: 12px;
    margin-bottom: 15px;
   }
   .banner-content-1>a{
    padding: 5px 15px;
   }
   .banner-content-2>h2,.banner-content-3>h2{
    height: 100%;
    text-align: center;
    padding-left: 0px;
    font-size: 20px;
   }
   .banner-content-3>h1,.banner-content-2>h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
   }
   .banner-content-2>a, .banner-content-3>a{
    font-size: 12px;
    padding: 5px 15px;
   }
   .banner-content-1>h2:before{
    width: 200px;
   }
   .banner-content-1>h2:after{
    width: 180px;
   }
   .banner-content-3>h1:before{
    top: 50%;
    width: 180px;
   }
   .banner-content-3>h1:after{
    top: 68%;
    width: 160px;
   }
   .banner-content-3>span{
    font-size: 12px;
    margin-bottom: 10px;
   }
   .banner-table-main-left>span, .banner-table-main-right>span{
    font-size: 12px;
    margin-bottom: 10px;
   }
   .banner-table-main-left>select, .banner-table-main-right>select{
    font-size: 12px;
    height: 25px;
    margin-bottom: 15px;
   }
   .banner-table-main-left-bottom>span, .banner-table-main-right-bottom>span{
    font-size: 12px;
   }
   .banner-table-main-left-bottom>span>input, .banner-table-main-right-bottom>span>input{
    height: 25px;
    font-size: 12px;
    margin-bottom: 15px;
   }
   .banner-table-links{
    flex-direction: column;
   }
   .banner-table-links>a{
    margin-bottom: 10px;
    padding: 5px 15px;
    margin-right: 0px;
    font-size: 10px;
   }
   .checkbox-container{
    font-size: 12px;
   }

.browse-cars-main{
    width: 100%;
    align-items: center;
}
.browse-cars-main>h1{
    font-size: 20px;
    margin-bottom: 5px;
}
.browse-cars-main>p{
    font-size: 12px;
    margin-bottom: 15px;
}
.browse-cars-content{
    grid-template-columns: auto auto auto;
    width: 80%;
}
.browse-cars-content>a{
    color: #fa6a2f;
    font-size: 12px;
}
.browse-cars-content>a>i,.browse-cars-content>a>span{
    color: #3d414e;
}
.browse-cars-main>a{
    padding: 5px 15px;
    font-size: 12px;
}
.car-deals-main>h1{
    font-size: 20px;
    margin-bottom: 15px;
}
.car-deals-main>p{
    font-size: 12px;
    margin-bottom: 25px;
}
.nav-car-deals{
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.nav-car-deals>span{
    margin-bottom: 10px;
    font-size: 10px;
}
.car-deals-content,.car-deals-content-1{
    grid-template-columns: auto;
}
.car-deals-number{
    margin-right: 0px;
}
.car-deals-number:nth-child(2n+1){
    margin-right: 0px;
}
.wcu-heading>h1{
    font-size: 20px;
    margin-bottom: 15px;
}
.wcu-heading>p{
    font-size: 12px;
}
.wcu-heading{
    margin-bottom: 20px;
}
.wcu-main{
    flex-direction: column;
    align-items: center;
        width: 90%;
    margin: 0 auto;
}
.wcu-main-left{
    width: 100%;
    align-items: center;
    padding-top: 0px;
}
.wcu-main-left>h2{
    font-size: 20px;
    margin-bottom: 15px;
}
.wcu-main-left>p{
    font-size: 12px;
    line-height: 120%;
    margin-bottom: 10px;
}
.wcu-main-left>a{
    margin-bottom: 20px;
    padding: 5px 15px;
}
.wcu-main-right{
    width: 100%;
}
.wcu-main-right-number-1,.wcu-main-right-number-2,.wcu-main-right-number-3{
    padding: 0px;
}
.wcu-main-right-text>h1{
    font-size: 20px;
}
.wcu-main-right-text>p{
    font-size: 12px;
    line-height: 120%;
}

.wcu-main-right-icon>i {
    font-size: 30px;
    padding: 30px 20px 15px;
}
.new-cars-heading{
    margin-bottom: 20px;
}
.new-cars-heading>h1{
    font-size: 20px;
}
.new-cars-heading>p{
    font-size: 12px;
}
.new-cars-details-price>span {
    font-size: 12px;
}
.new-cars-details-price>p{
    font-size: 12px;
}
.buy-and-sell-main{
    padding: 0px 15px;
}
.sell-car-text>p,.buy-car-text>p{
    font-size: 16px;
}
.sell-car-btn>a>i,.buy-car-btn>a>i{
    padding: 12px 13px;
    font-size: 16px;
}
.new-cars-img{
    margin-right: 0px;
}
.new-cars-details-specs{
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
}
.new-cars-number{
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.new-cars-details{
    align-items: center;
    width: 100%;
}
.new-cars-details-form{
    flex-direction: column;
    padding-top: 10px;
    align-items: flex-start;
    width: 80%;
}
.latest-blog-heading>h1{
    font-size: 20px;
}
.latest-blog-heading>p{
    font-size: 12px;
}
.latest-blog-main{
    flex-direction: column;
    width: 100%;
}
.latest-blog-number{
    align-items: center;
    margin-right: 0px;
 }
 .latest-blog-img-heading{
    width: 98%;
 }
 .latest-blog-title{
    width: 95%;
    margin-bottom: 20px;
 }

.main-reel-contain-overlay-text>h2{
    font-size: 8px;
}
.main-reel-contain-overlay-text>a{
    font-size: 10px;
}
 .newsletter-main{
    flex-direction: column;
 }
 .newsletter-text{
    justify-content: center;
    margin-bottom: 10px;
 }
 .newsletter-form{
    width: 90%;
 }
 .footer-main{
    grid-template-columns: auto;
    width: 90%;
    margin: 0 auto;
 }
 .footer-financing-calculator{
    margin-bottom: 20px;
 }
   .footer-financing-calculator>a, .footer-contact-us>a{
    padding: 10px 15px;
    font-size: 12px;
   }
   

   
 }
